<h3>Getting Started</h3>
<p>
   The first thing to do is create a <em>ViewModel</em> in your javascript:
</p>
<pre>Curvy.register.viewmodel('getting-started', function() {
   this.myTitle = 'My First Application';
   this.updateTitle = function() {
      this.myTitle = 'My First Binding';
   };
});</pre>
<p>
   Next we must wire up the new functionality to the DOM in your html
</p>
<pre>
&lt;div <strong>view-model="getting-started"</strong>&gt;
   &lt;h1 <strong>data-format="{{myTitle}}"</strong>&gt;&lt;/h1&gt;
   &lt;button <strong>data-click="updateTitle"</strong>&gt;Change The Words&lt;/button&gt;
&lt;/div&gt;
</pre>
<p>
   Finally we tell Curvy to startup like so:
</p>
<pre>Curvy.create();</pre>
