<h3>Html Service</h3>
<p>
   The html service contains a small number of common functionalities used frequently by Curvy.
</p>
<pre>
   Application.extend(['html', function(html) {
      console.log(html.encode('&lt;div&gt;HTML Content&lt;/div&gt;'));
   }])
</pre>
<p class="container-fluid">
   <strong class="col-sm-3">encode(html)</strong>
   <span class="col-sm-9">
      Escapes a string so that it can be safely displayed inside markup.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">parse(html)</strong>
   <span class="col-sm-9">
      Parses a string into an array of document nodes.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">getInputValue(element)</strong>
   <span class="col-sm-9">
      Tries to find and return a relevant value based on the element type.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">setInputValue(element, value)</strong>
   <span class="col-sm-9">
      Tries to set the relevant value based on the element type.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">setStyle(selector, css)</strong>
   <span class="col-sm-9">
      Adds a css rule to the document.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">removeClass(element, class)</strong>
   <span class="col-sm-9">
      Removes the class from the element and leaves other classes behind
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">addClass(element, class)</strong>
   <span class="col-sm-9">
      Adds the class to the element replacing any exiting duplicates.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">hasClass(element, class)</strong>
   <span class="col-sm-9">
      Returns true if the element has the specified class
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">toggleClass(element, class)</strong>
   <span class="col-sm-9">
      Adds or removes the class from the element.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">formatParameters(object)</strong>
   <span class="col-sm-9">
      Converts an object into a uri parameter string.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">formatUri(uri, parameters)</strong>
   <span class="col-sm-9">
      Adds or combines parameters to an existing uri.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">parseQuery(parameterString)</strong>
   <span class="col-sm-9">
      Parses the parameter portion of a uri into an object.
   </span>
</p>
