<h3>Utilities</h3>
<p>
   The utitlies service contains a small number of common functionalities used frequently by Curvy.
</p>
<p class="container-fluid">
   <strong class="col-sm-3">nothing</strong>
   <span class="col-sm-9">
      Always undefined.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">is(value, type)</strong>
   <span class="col-sm-9">
      Determines if a value is of a certain type. This will compare the value by constructor or type string.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">readonly(obj, member, getter)</strong>
   <span class="col-sm-9">
      Sets a read-only property getter on the object.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">constant(obj, member, value)</strong>
   <span class="col-sm-9">
      Sets a read-only value on the object.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">path(obj, path)</strong>
   <span class="col-sm-9">
      Resolves a value starting from the object following the specified dot "." separated path.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">watch(obj, path, callback)</strong>
   <span class="col-sm-9">
      Listens to an observable and the descendant observable objects referenced by the specified dot "." path.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">clone(obj)</strong>
   <span class="col-sm-9">
      Creates a shallow copy of an object
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">merge(from, to)</strong>
   <span class="col-sm-9">
      Creates a shallow copy of the "to" object with non-conflicting members from the "from" object.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">toarray(collection)</strong>
   <span class="col-sm-9">
      Attempts to convert a collection-type object into an actual array.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">distinct(array)</strong>
   <span class="col-sm-9">
      Removes duplicate items from an array.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">domdepth(element)</strong>
   <span class="col-sm-9">
      Counts how far nested an element is in the document.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">domsort(array)</strong>
   <span class="col-sm-9">
      Sorts an array of elements by their nested depth in the document.
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">domquery(element, selector)</strong>
   <span class="col-sm-9">
      Performs a querySelectorAll from the element and includes the element in the results if it matches the selector
   </span>
</p>
<p class="container-fluid">
   <strong class="col-sm-3">indom(element)</strong>
   <span class="col-sm-9">
      Returns true if the element is currently nested anywhere in the DOM
   </span>
</p>
