<h3>ViewModels</h3>
<p>
   Setting a view-model on an element will create an observable scope for that element
   and its decendants. Bindings and child view-models will have access to this view-model.
</p>
<p>
   When configuring a view-model you should treat the view-model function as you
   would a constructor. By adding members to the 'this' keyword you will define
   what your view-model looks like.
</p>
<p>
   You <em>MUST</em> preconfigure all members that will be used on your view-model
   in the view-model constructor. After the view-model is constructed all members
   will be converted into observable properties and the object will be set to a
   locked state allowing no further additions to the object.
</p>
<p>
   For example, if you want to have a button call a function called "update"
   which changes the value of a property called "value" it would look something
   like this:
</p>
<pre>
   var application = Curvy.create();

   application.viewmodel('my-viewmodel', function() {
      this.value = 'initial value';
      this.update = function(e) {
         this.value = 'updated value';
      };
   });
</pre>
<p>
   The markup that would attach to this would look something like this:
</p>
<pre>
   &lt;div view-model="my-viewmodel"&gt;
      &lt;!-- Anything "using" the view-model must be inside the view-model element --&gt;
      &lt;input type="text" data-bind="value" /&gt;
      &lt;button data-click="update"&gt;Update Text&lt;/button&gt;
   &lt;/div&gt;
</pre>
<p>
   After the viewmodel has been constructed it is converted to an "Observable" object.
   An observable is given the following members:
</p>
<p>
   <em class="col-sm-3">view</em>
   <span class="col-sm-9">
      Provides access to the element or "view" this view-model belongs to.
   </span>
</p>
<p>
   <em class="col-sm-3">parent</em>
   <span class="col-sm-9">
      References the parent viewmodel if one exists
   </span>
</p>
<p>
   <em class="col-sm-3">notify(propertyName)</em>
   <span class="col-sm-9">
      Calling this method will alert anything listening
      to this object that the specified property has been updated.
   </span>
</p>
<p>
   <em class="col-sm-3">observe(callback)</em>
   <span class="col-sm-9">
      Adds a callback handler that will be called any time
      the "notify" method is invoked.
   </span>
</p>
<p>
   <em class="col-sm-3">unobserve(callback)</em>
   <span class="col-sm-9">
      Removes a callback handler from the object's
      notification pool.
   </span>
</p>
<p>
   <em class="col-sm-3">path(string)</em>
   <span class="col-sm-9">
      Navigates a dot(.) path from the view model and returns
      the value or undefined if the path does not exist.
   </span>
</p>
<p>
   <em class="col-sm-3">watch(path, callback)</em>
   <span class="col-sm-9">
      Watches a chain of observables specified by a
      dot(.) path. The first non-observable object in the dot(.) path will prevent further
      observable members in the path from being observed.
   </span>
</p>
<p>
   <em class="col-sm-3">destroy()</em>
   <span class="col-sm-9">
      This method cleans up potential leaky references held by the
      view model. This should never be called by your code.
   </span>
</p>
<p>
   <em class="col-sm-3">dispose(function)</em>
   <span class="col-sm-9">
      Adds a function to be called when the viewmodel's element/view is removed from the
      document.
   </span>
</p>
<hr />
