<h3>Why Curvy?</h3>
<p>
	I know, I know. Enough custom frameworks already. I created Curvy for the fun of creating.
	There is nothing special to see here other than my own spin on things. 
</p>
<p>
	Curvy's creation was a side note in a project meant to demonstrate my javascript abilities.
	I took what I liked about Angular and reshaped it to fit into what I felt was a more natural
	pattern for web front-end technologies. 
</p>
<p>
	I do plan on using Curvy, at most, in some of my side projects here and there in order to help further
	improve it. I continue to develop Curvy is because, like having a plant, I like to watch it grow.
</p>