/* A68660 7F6649 */
html { min-width: 800px; }
body {
	background: url('default/images/layout-bg.jpg') 50% 50% no-repeat transparent;
	background-size: 100% 100%;
	font-family: 'Open Sans', sans-serif;
	color: #7F6649;
	min-width: 800px;
	max-width: 1200px;
	margin-left: auto; margin-right: auto;
}

header {
	padding: 10px 0px 10px;

	& .brand {
		overflow: hidden;
		vertical-align: bottom;
		display: inline-block;
		text-indent: -99999px;
		background: url('default/images/brand.png') 50% 50% no-repeat transparent;
		background-size: contain;
		width: 350px;
		margin: 0px 50px 0px 25px; padding: 0px;
		height: 150px;
	}
	
	& > .navbar {
		display: inline-block;
		margin: 0px;
	}
}

aside, article {
	background: rgba(166, 134, 96, .1);
	&:not(:last-child) {
		margin-right: 25px;
	}
}

footer {
	opacity: .3;
	padding: 50px 25px;
	margin: 0px auto;

	&:before, &:after {
		content: '';
		height: 1px;
		display: block;
		position: absolute;
		left: 0px; right: 0px;
		border-bottom: 1px solid #A68660;
	}
	
	&:before {
		margin: -12px auto 12px;
	}
	
	&:after {
		margin: 12px auto -12px;
	}
}
